@charset 'utf-8';

/* HTML5 */
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
	display: block;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	margin: 50px 0 50px 100px;
	font: 12px 'Arial', sans-serif;
	color: #555;
}

a,
a:visited {
	color: #0088ce;
	text-decoration: none;
}

a:hover {
	color: #666;
	text-decoration: underline;
}

img {
	border: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

header {
	position: relative;
	margin: 25px 50px;
}

header h1 {
	margin: 0;
	font-size: 28px;
	letter-spacing: -0.11em;
}

header p {
	margin: 0;
}

header nav {
	position: absolute;
	bottom: 0;
	right: 50px;
}

header nav p {
	display: inline-block;
	margin-right: 5px;
	color: #ccc;
}

header nav p:after {
	content: ':';
}

header nav ul {
	display: inline-block;
}

header nav li {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 5px 10px;
	background-color: #eee;
	border: 1px solid #eee;
	cursor: pointer;
}

header nav li + li {
	margin-left: 1px;
}

body.brick-view header nav li.tile-view,
body.tile-view header nav li.brick-view {
	background-color: #fff;
	border: 1px dashed #eee;
}

body.brick-view header nav li.brick-view:before,
body.tile-view header nav li.tile-view:before {
	display: block;
	position: absolute;
	bottom: -8px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -8px;
	border-top-width: 8px;
	border-right-width: 8px;
	border-bottom-width: 0;
	border-left-width: 8px;
	border-color: #eee transparent;
	border-style: solid;
	content: '';
}

nav li:first-child {
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
}

nav li:last-child {
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

section#pics {
	max-width: 1980px;
	padding: 10px 0 0 10px;
	background-color: #eee;
}

section#pics ul {
	height: 330px;
	display: block;
	position: relative;
}

section#pics li {
	position: absolute;
	list-style: none;
}

section#pics li:hover {
	outline: 8px solid #ccc;
}

div#more {
	position: absolute;
	right: 100px;
}

div#more input {
	margin: 0;
	padding: 4px 10px 6px;
	color: #eee;
	background-color: #555;
	border: none;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	cursor: pointer;
}

div#more input:hover {
	background-color: #777;
}

footer {
	margin: 75px 0;
	font-size: 11px;
	font-family: 'Lucida Grande', sans-serif;
}

p.no-script {
	position: absolute;
	margin: 15px 0 0 40px;
}

p.no-script span.sign {
	color: red;
}

div#loading {
	display: none;
	position: fixed;
	top: 15px;
	right: 15px;
	width: 26px;
	height: 26px;
	background: #666 url(loading.gif) no-repeat 50% 50%;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
